
<!--@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>
        SegmentedButton Variations - Ext.NET Examples
    </title>
    <link href="/resources/css/examples.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <h1>
        Sefer Ekle
    </h1>

    <form method="post" asp-controller="AddExpedition" asp-action="getCityValues">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Kalkış İli:</label>
            <select class="form-control" name="DepartureCityId" asp-for="DepartureCityId">
                <option value="1">Ankara</option>
                <option value="2">İstanbul</option>
                <option value="3">İzmir</option>
                <option value="4">Edirne</option>
                <option value="5">Sivas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Varış İli:</label>
            <select class="form-control" name="ArrivalCityId" asp-for="ArrivalCityId">
                <option value="1">Ankara</option>
                <option value="2">İstanbul</option>
                <option value="3">İzmir</option>
                <option value="4">Edirne</option>
                <option value="5">Sivas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Otobüs No:</label>
            <select class="form-control" name="BusId" asp-for="BusId">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>-->
        @*<div class="form-group">
            <label for="exampleFormControlSelect1">Kalkış Vakti:</label>
            
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Varış Vakti:</label>

        </div>*@
        <!--<input type="number" name="TicketFee" asp-for="Tickets" class="form-control mb-5" />
        <button type="submit" class="btn btn-primary">Sefer Ekle</button>
    </form>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>-->




