@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        SegmentedButton Variations - Ext.NET Examples
    </title>
    <link href="/resources/css/examples.css" rel="stylesheet" />
</head>
<body>
    <h1>
        Sefer Ekle
    </h1>

    <ext-container layout="Form">
        <items>
            <ext-fieldContainer fieldLabel="Icons and Arrows">
                <items>
                    <ext-segmentedButton allowToggle="false">
                        <items>
                         
                            <ext-button text="Menu Button">
                                <menu>
                                    <ext-menu plain="true">
                                        <items>
                                            <ext-menuItem text="Menu Item 1" />
                                            <ext-menuItem text="Menu Item 2" />
                                            <ext-menuItem text="Menu Item 3" />
                                        </items>
                                    </ext-menu>
                                </menu>
                            </ext-button>
                            
                        </items>
                    </ext-segmentedButton>
                </items>
            </ext-fieldContainer>
        </items>
    </ext-container>
</body>
</html>
