@model BusTicket.WebAdmin.Entity.Route
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        SegmentedButton Variations - Ext.NET Examples
    </title>
    <link href="/resources/css/examples.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <h1>
        Sefer Ekle
    </h1>

    <!--<ext-container layout="Form">
        <items>
            <ext-fieldContainer fieldLabel="Otobüsün kalkacağı il">
                <items>
                    <ext-comboBox id="selam">-->
                                @*<DirectEvents>
                                        <Select>
                                            <EventMask ShowMask="true"></EventMask>
                                        </Select>
                                    </DirectEvents>*@
                                <!--<Items>
                                    <ext-listItem Value="0" Text="Edirne">
                                        <ext-listItem Value="1" Text="İstanbul">
                                            <ext-listItem Value="2" Text="Ankara">
                                </Items>
                    </ext-comboBox>
                    <ext-button text="Gönder">
                        <directEvents>
                            <click actionName="getCityValues">
                                <extraParams></extraParams>
                            </click> 
                        </directEvents>
                    </ext-button>
                </items>
                
            </ext-fieldContainer>

            <ext-fieldContainer fieldLabel="Otobüsün varacağı il">
                <items>
                    <ext-segmentedButton allowToggle="false">
                        <items>
                            <ext-comboBox>-->
                                @*<DirectEvents>
                                    <Select>
                                        <EventMask ShowMask="true"></EventMask>
                                    </Select>
                                </DirectEvents>*@
                                <!--<Items>
                                    <ext-listItem Value="0" Text="Edirne">
                                        <ext-listItem Value="1" Text="İstanbul">
                                            <ext-listItem Value="2" Text="Ankara">
                                </Items>
                            </ext-comboBox>
                        </items>
                    </ext-segmentedButton>
                </items>
            </ext-fieldContainer>
        </items>

    </ext-container>-->


<form method="post" asp-controller="AddExpedition" asp-action="getCityValues">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Kalkış İli:</label>
        <select class="form-control" name="Dcity">
            <option>Ankara</option>
            <option>İstanbul</option>
            <option>İzmir</option>
            <option>Edirne</option>
            <option>Sivas</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Varış İli:</label>
        <select class="form-control" name="Acity">
            <option>Ankara</option>
            <option>İstanbul</option>
            <option>İzmir</option>
            <option>Edirne</option>
            <option>Sivas</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Otobüs No:</label>
        <select class="form-control" name="ONo">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Kalkış Vakti:</label>

    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Varış Vakti:</label>

    </div>
    <input type="text" class="form-control mb-5"/>
    <button type="submit" class="btn btn-primary">Sefer Ekle</button>
</form>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>




