@model BusTicket.WebAdmin.Models.GridPanelModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        SegmentedButton Variations - Ext.NET Examples
    </title>
    <link href="/resources/css/examples.css" rel="stylesheet" />
</head>
<body>
    <h1>
        Sefer Ekle
    </h1>

    <ext-container layout="Form" >
        <items>
            <ext-fieldContainer fieldLabel="Otobüsün kalkacağı il">
                <items>
                    <ext-segmentedButton allowToggle="false">
                        <items>

                            <ext-button text="Kalkış İli">
                                <menu>
                                    <ext-menu plain="true">
                                        <items>
                                            <ext-menuItem text="Edirne" onDirectClick="merhaba" />
                                            <ext-menuItem text="İstanbul" />
                                            <ext-menuItem text="Ankara" />
                                        </items>
                                    </ext-menu>
                                </menu>
                            </ext-button>
                        </items>
                    </ext-segmentedButton>
                </items>
            </ext-fieldContainer>
            
            <ext-fieldContainer fieldLabel="Otobüsün varacağı il">
                <items>
                    <ext-segmentedButton allowToggle="false">
                        <items>

                            <ext-button text="Varış İli">
                                <menu>
                                    <ext-menu plain="true">
                                        <items>
                                            <ext-menuItem text="Edirne" onDirectClick="merhaba" />
                                            <ext-menuItem text="İstanbul" />
                                            <ext-menuItem text="Ankara" />
                                        </items>
                                    </ext-menu>
                                </menu>
                            </ext-button>
                        </items>
                    </ext-segmentedButton>
                </items>
            </ext-fieldContainer>
        </items>
    </ext-container>
</body>
</html>
