@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>
        Otobüs-Bilet Otomasyonu Kullanıcı Giriş Ekranı
    </title>
    <link href="/resources/css/examples.css" rel="stylesheet" />
</head>
<body>
    
</body>
</html>